
body{ background: url("../images/bg.jpg") fixed;
	background-size: 100% 100%;
}
a{ color:#fff; text-decoration: none}
a:hover{ color:#f00;}

.box{width:1000px; padding:30px; margin:0 auto; background:#fff}
	.fl{float:left}
.fr{float:right}
	.w200{ width:200px}
	p{ text-indent: 2em;
	}
	.banner { width: 1000px;height: 336px; margin: auto }
	.main { width: 1000px;height: auto; margin: auto }